<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.elixir.TravelB2B">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />


    <application
        android:name=".TravelB2B"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logo1"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.ViewSplashScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ViewDrawer"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".view.ViewIntroActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ViewLoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.ViewRegisterAs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ViewRegister"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ViewResponseDetailView"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ViewRespondToRequestDetailView"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ViewRemoveReqDetailView"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ViewFinalizedResponseDetailView"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ViewFinalizedRequestDetailView"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ViewChat"
            android:theme="@style/AppDialogTheme" />
        <activity
            android:name=".view.ViewCheckResponse"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.ViewEditProfile"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.ViewChangePassword"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.ViewAgentProfile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ViewMyProfile"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>